.menulatusuario{
	display: none;
}
.categoriasizda{
	margin-right: 20px;
}
.logout{
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 99999;
	color: #4DB848;
}
.logout a{
	color: #4DB848;
}
.plan-name-Trial {
  padding: 20px;
  color: #fff;
  background-color: #0070FF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
 }
  
.plan-name-BASICO {
  padding: 20px;
  color: #fff;
  background-color: #90C900;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
 }
  
.plan-name-PREMIUM {
  padding: 20px;
  color: #fff;
  background-color: #0070FF;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  } 

  .plan-name-MINI {
  padding: 20px;
  color: #fff;
  background-color: #E70A8F;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  } 
  .plan-name-BASICO-head {
  padding: 20px;
  color: #fff;
  background-color: #4A8500;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
 }
  
.plan-name-PREMIUM-head {
  padding: 20px;
  color: #fff;
  background-color: #0054BE;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  } 

  .plan-name-MINI-head {
  padding: 20px;
  color: #fff;
  background-color: #AF076C;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  } 
  .plan-name-Trial-head {
  padding: 20px;
  color: #fff;
  background-color: #0054BE;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  } 
  .summary{
    display: none;
  }

  #empresa-form input[type="text"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    padding: 15px;
  }
  .descatacado{
    color: rgb(197, 0, 0);;
  }