.header-shadow{
	background-color: #F0F0F0;
}

#superior{
	z-index: 999999999999999;
}

#superior li>a{
	color: #08c;
}

.footer{
	padding: 10px;
	background-color: #90C900;
	color: #fff;
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 40px;
}
.logo{
	padding-bottom: 10px;
}

.cabecera{
	background-color: #fe0060;
	border-radius: 5px;
}
h1,h2,h3{
	color: rgb(0, 128, 168);
}
.product-list-inline-small li{
	padding-bottom: 10px;
}
.summary{
	display: none;
}
.row-fluid [class*="span"]:first-child .empresas{
	margin-left: 2.564102564102564%;
}
body{
	/*background-image: url("../img/bg_main.png");*/
}
.twitter-share-button{
 margin-bottom: 10px;
}
.rating{
	color: #777;
}
.uiIconText{
	display: none;
}
.pager{
	clear: both;
}
#menupral .active{
	background-color: #3a87ad;
	color: #fff !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.thumbnail .caption a{
	font-size: 1.3em;
}

.destacado{
	background-color: #fff;
}
.hint{
	color: #979797;
	font-size: 0.8em;
}