.header-shadow{
	background-color: #F0F0F0;
}
#superior li>a{
	color: #08c;
}

.footer{
	padding: 10px;
	background-color: #90C900;
	color: #fff;
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 40px;
}
.logo{
	padding-bottom: 10px;
}

.cabecera{
	background-color: #fe0060;
	border-radius: 5px;
}
h1,h2,h3{
	color: rgb(0, 128, 168);
}
.product-list-inline-small li{
	padding-bottom: 10px;
}
.summary{
	display: none;
}
.row-fluid [class*="span"]:first-child .empresas{
	margin-left: 2.564102564102564%;
}