@media (max-width: 768px) {
	.theme-bar.slider-wrapper{
		display: none !important;
	}
}
@media (max-width: 600px) {
	.mapa iframe{				
		display: none !important;
	}
}
.header-shadow{
	background-color: #F0F0F0;
}

#superior{
	z-index: 999999999999999;
}

#superior li>a{
	color: #08c;
}

.footer{
	padding: 20px;
	background-color: #90C900;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	overflow: hidden;
	height: 80px;
}
.logo{
	padding-bottom: 10px;
}

.cabecera{
	background-color: #fe0060;
	border-radius: 5px;
}
h1,h2,h3{
	color: rgb(0, 128, 168);
}
.product-list-inline-small li{
	padding-bottom: 10px;
}
.summary{
	display: none;
}
.row-fluid [class*="span"]:first-child .empresas{
	margin-left: 2.564102564102564%;
}
body{
	/*background-image: url("../img/bg_main.png");*/
}
.twitter-share-button{
 margin-bottom: 10px;
}
.rating{
	color: #777;
}
.uiIconText{
	display: none;
}
.pager{
	clear: both;
}
#menupral .active{
	background-color: #3a87ad;
	color: #fff !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.thumbnail .caption a{
	font-size: 1.3em;
}

.destacado{
	background-color: #fff;
}
.hint{
	color: #979797;
	font-size: 0.8em;
}
.errorMessage{
	color: red;
}
.divpromo{
	max-height: 235px;
	min-height: 235px;
}
.divpromothumb{
	max-height: 120px;
}

.textopro{
	font-size: 17px;
	color: #4C4C4C;
	max-width: 800px;
	line-height: 30px;
}
.rounded{
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
}

.thumbnailimg {
	height: 250px;
	width: 250px;
}
.errorSummary li{
	list-style-type: none;
	 padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.cajacategoria{
	margin-bottom: 50px;
}
.empresa{
	min-height: 200px;
}
.siguenos{
	color:#0080A8;
}